{% extends 'djangoapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<h3>Create Profile</h3>
<br>
<strong style="color:yellow;"> Full Name: {{ user.first_name }}&nbsp; {{ user.last_name }}
    <br><br>

    Email: {{ user.username }}
    <br>
    <br>
</strong>
<form method="post">
    {% csrf_token %}

    {{ form|crispy}}
    <br>

    <button type="submit"> Create</button>

</form>

<br>

Already have a Profile?
&nbsp;
<a href="{% url 'profile' %}">Open Profile</a>&nbsp;&nbsp;
{% endblock %}